@import 'global/global';

$primary-col: #17a2b8;
$secondary-col: #474d52;
$gray-col: #888;

$box-shadow: 15px 13px 15px -3px rgba(214, 214, 214, 1);
nav {
  display: flex;
  justify-content: center;
  background-color: $secondary-col;
  border-bottom: 3px solid $primary-col;
  a {
    color: #fff;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $primary-col;
    }
  }
}

.profile {
  padding: 3rem 0;
  .card {
    box-shadow: $box-shadow;
    border-radius: 0.2rem;
    text-align: center;
    .img {
      width: 16rem;
      height: 16rem;
      margin: 0 auto;
      border: 3px solid $primary-col;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 135%;
      }
    }

    h1 {
      margin: 1rem 0;
      strong {
        color: $primary-col;
      }
    }

    h4 {
      color: $gray-col;
    }
  }
}
